/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}

/* Common */
.container {
	width: 80%;
	margin: 0 auto;
}

body,
.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 242, 242);
}

/* Header */
header {
    background-color: rgb(240, 248, 255);
    height: 80px;
    width: 100%;
}

.Logo {
    padding-left: 20px;
    padding-top: 15px;
    vertical-align: middle;
}

h1 {
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 40px;
    font-size: 35px;

}

/* Main */

/* collegamenti */
.collegamenti {
    background-color: rgb(240, 248, 255);
    height: 70px;
    width: 85%;
    margin-top: 70px;
    margin-left: 170px;
    padding-top: 15px;
    padding-left: 50px;
}

.collegamenti a {
    border-radius: 10px ;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
    display: inline-block;
}

.linkblu,
.editorial {
    background-color: rgb(3, 114, 241);
    color: white;
}

.linkgrigio {
    border: 1px solid rgb(211, 211, 211);  
    color: rgb(211, 211, 211); 
}

/* lista */

.list {
    background-color: rgb(240, 248, 255);
    height: 650px;
    width: 85%;
    margin-top: 2px;
    margin-left: 170px;
    padding: 60px;
}

.boxlist {
    margin-bottom: 30px;
    list-style-type: "\1F783";
    display: list-item;
}

.boxlist2 {
    list-style: none;
}

.titlelist,
.textlist {
    margin-bottom: 8px;
    margin-left: 4px;
}

.type {
    border-radius: 20px ;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    margin: 5px 10px;
    color: aliceblue;
}

.crosslist {
    color: red;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 2px;
    margin-right: 3px;
    font-weight: bold;
    font-size: 10px;
}

.checklist {
    color: rgb(0, 128, 0);
    border: 1px solid;
    border-color: green;
    border-radius: 10px;
    padding: 2px;
    margin-right: 3px;
    font-weight: bold;
    font-size: 10px;
}

.q1goals {
    background-color: rgb(138, 43, 226);
}

.recruiting {
    background-color: rgb(25, 153, 25);
}

.mobile {
    background-color: rgb(255, 165, 0);
}

.website {
    background-color: rgb(187, 27, 75);
}

.sales {
    background-color: rgb(162, 202, 15);
}

/* Footer */

.footer {
    color: rgb(211, 211, 211);
    margin: 70px 230px;
}
