/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%
}

/* Common */
.container {
	width: 80%;
	margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 244, 244);
}

/* Header */

.Logo {
    padding-left: 15px;
    padding-top: 15px;
}

h1 {
    font-weight: bolder;
    display: inline-block;
}

/* Main */

/* collegamenti */
.collegamenti {
    margin-top: 80px;
    margin-left: 130px;
}
.collegamenti a {
    border-radius: 10px ;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
}

.linkblu {
    background-color: rgb(3, 114, 241);
    color: white;
}

.linkgrigio {
    border: 1px solid;
    border-color: lightgray;
    color: lightgray;   
}

/* lista */

.list {
    margin-top: 60px;
    margin-left: 170px;
}

.boxlist {
    margin-bottom: 30px;
}

.boxlist2 {
    list-style: none;
}

.titlelist {
    margin-bottom: 8px;
}

.type {
    border-radius: 20px ;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    display: inline-block;
}

.crosslist {
    color: red;
    border: 2px solid;
    border-color: red;
    border-radius: 10px;
    padding: 2px;
    margin-right: 3px;
    font-weight: bold;
    margin-top: 2px;
}

.checklist {
    color: green;
    border: 2px solid;
    border-color: green;
    border-radius: 10px;
    padding: 2px;
    margin-right: 3px;
    font-weight: bold;
}
